body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff5733; 
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 10px; 
    left: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: auto;
}

h1 {
    margin: 20px 0;
    font-size: 2.5em;
}

main {
    padding: 20px;
}

.section-image, .carousel-image {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


.centered-section {
    text-align: center;
}


.carousel {
    max-width: 600px;
    margin: 0 auto;
}


.no-bullets {
    list-style-type: none;
    padding: 0;
}
